@use "utils.scss" as *;

a:hover {
  transition: color 0.4s;
  cursor: pointer;
}

h1 {
  font-size: adaptiveSize(40, 90);
  line-height: normal;
}

h2 {
  font-size: adaptiveSize(22, 48);
  line-height: normal;
}

h4 {
  font-size: adaptiveSize(14, 18);
  line-height: normal;
}

p {
  line-height: var(--base-lh);
}

a {
  font-size: adaptiveSize(14, 17);
}
