@use "utils.scss" as *;

a:hover {
  transition: color 0.4s;
  color: var(--second-primary-с);
  cursor: pointer;
}

h1 {
  font-size: adaptiveSize(40, 90);
  line-height: normal;
}

h2 {
  font-size: adaptiveSize(24, 48);
  line-height: normal;
}

h4 {
  font-size: adaptiveSize(14, 18);
  line-height: normal;
}

p {
  font-size: adaptiveSize(16, 24);
  line-height: var(--base-lh);
}

a {
  font-size: adaptiveSize(14, 17);
}

button {
  p {
    font-size: adaptiveSize(14, 17);
  }
}
